<div class="container-fluid">
  <div class="row">
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from being saved:</h2>
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col-md-4 col-12 mt-4 form-container">
      <div class="card p-1">
        <div class="my-1">
          <%= link_to '戻る', edit_post_path(@post), class: 'btn btn-secondary'%>
        </div>
        
        <div id="pins">
          <%= form_with(model: @pin, url: post_pin_path(@post, @pin), local: true) do |form| %>
            <div class="pin-fields mt-3">
              <%= form.label :name, "ピンを編集" %>
              <%= form.text_field :name, class: "form-control mb-1", placeholder: 'ピンのタイトル' %>
                <div class="row pb-1">
                  <div class="col-10 pe-0">
                    <%= form.text_field :address, class: "address-input form-control", placeholder: '住所' %>
                  </div>
                  <div class="col-2 ps-0">
                    <button type="button" class = "search-address-btn btn btn-primary float-end">検索</button>
                  </div>
                </div>
                <div class="row pb-1">
                  <div class="col-6 pe-0">
                    <%= form.text_field :latitude, class: "latitude-input form-control", placeholder: '緯度' %>
                  </div>
                  <div class="col-6 ps-0">
                    <%= form.text_field :longitude, class: "longitude-input form-control", placeholder: '経度' %>
                  </div>
                </div>

                <%= form.text_area :body, class: "form-control", placeholder: 'ピンの説明' %>

                <%= form.file_field :image %>
            </div>
            <div>
              <%= form.submit "投稿", class: "btn btn-primary mt-1 float-end" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  <div class="col-md-auto col-12 p-0 mt-4">
    <%= render 'posts/map', {pins: @pins } %>
  </div>
</div>