<div class="pin-fields mb-5">
  <p>'ピンの情報'</p>
  <%= f.text_field :name, class: "form-control", placeholder: 'ピンのタイトル' %>
        
  <%= f.text_field :latitude, class: "form-control", placeholder: '緯度' %>

  <%= f.text_field :longitude, class: "form-control", placeholder: '経度' %>

  <%= f.text_area :body, class: "form-control", placeholder: 'ピンの説明' %>
      
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "削除" %>
</div>