<div id="post-id-<%= post.id %>">
    <div class="border-bottom me-1">
      <div class="mt-1 ms-1">
        <% if post.user.present? %>
          <span class="ms-1 fw-bold"><%= post.user.name %></span>
        <% else %>
          <span class="ms-1 fw-bold"><%= 'ユーザー名' %></span>
        <% end %>
        <span class="ms-1 text-muted"><%= natural_time_ago(post.created_at) %></span>
      </div>
      <div class="d-flex mt-1 mb-2 justify-content-between">
        <div class='ms-2'>
          <%= link_to post.name, mapheader_post_path(post), method: :post, remote: true, onclick: "updateMap(#{post.pins.to_json(only: [:latitude, :longitude, :name, :body, :address, :image])});" %>
        </div>
        <div class='me-1'>
          <% if logged_in? %>
            <%= render 'like_buttons', { post: post } %>
          <% end %>
        </div>
      </div>
    </div>
</div>