<div class="col-sm-12">
  <div id="post-id-<%= post.id %>">    
    <div class="card">
      <div>
        <% if post.user.present? %>
          <span class="float-start fw-bold"><%= post.user.name %></span>
        <% else %>
          <span class="float-start fw-bold"><%= 'ユーザー名' %></span>
        <% end %>
        <span class="ms-1 text-muted float"><%= natural_time_ago(post.created_at) %></span>
      </div>
      <div class="mb-2">
        <div class = 'float-start'>
          <%= link_to post.name, post_path(post) %>
        </div>
        <div class = 'float-end me-1'>
          <% if logged_in? %>
            <%= render 'like_buttons', { post: post } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>